<div id="home">
  <a name="home"></a>
  <section id="showcase">
    <div class="container">
      <h1>Welcome</h1>
      <p>SmarterJobs is the website that enables recruiters to hasten their recruiting process and for job seekers to be quickly connected to hiring managers and jobs that require their skills..</p>
    </div>
  </section>

  <!-- <div class="container">
    <section id="main">
      <h2>You can get started</h2>
      <a routerLink="/login"><button class="btn btn-success pull-right" > Log in</button></a>
    </section>
    </div> -->
</div>

