<app-header></app-header>
<div class="container bootstrap snippet" style="height:100%">

  <mat-grid-list cols="4" class="fill darken" gutterSize="50px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.border]="tile.border">
      <div>
        <mat-grid-tile-header>
          <h3 id="HiddenText" style="color:white;"><a routerLink="/{{tile.text}}" style="color:white;" class="nav-link">{{tile.title}}</a></h3>
        </mat-grid-tile-header>
        <img src={{tile.img}}>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>

