<footer class="section footer-classic context-dark bg-image" style="background: #433F40;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
              src="assets/logos/smarterjobslogo.png" alt="" width="140" height="100"
              srcset="assets/logos/smarterjobslogo.png"></a>
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business
            consulting, and marketing.</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span
              class="copyright-year">2019</span><span> </span><span>SmarterJobs</span><span>. </span><span>All Rights
              Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>George Padmore lane, 4th Floor, Padmore Plaza</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">smarterjobs@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">0987654321</a> <span> or </span> <a href="tel:#"> 0987654321</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span><i class="fa fa-facebook"></i></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span><i class="fab fa-linkedin-in"></i></span><span>LinkedIn</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span><i class="fa fa-twitter"></i></span><span>twitter</span></a>
    </div>
  </div>
  
