<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h1>Username</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->


      <div class="text-center">
        <img src="assets/profile/blank-profile-picture-973460_1280.png" class="avatar img-circle img-thumbnail"
          alt="avatar">
        <h6>Upload a photo</h6>
        <div class="custom-file mb-3">
          <input type="file" class="custom-file-input" id="customFile" name="filename">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div><br>


    </div>
    <!--/col-3-->
    <div class="col-sm-9">

      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr>
          <form class="form" action="##" method="post" id="registrationForm">
            <div class="form-group">

              <div class="col-xs-6">
                <label for="name">
                  <h4>Name</h4>
                </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="first name"
                  title="enter your first name if any.">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="last_name">
                  <h4>national ID</h4>
                </label>
                <input type="number" class="form-control" name="national_ID" id="last_name" placeholder="national ID"
                  title="national ID">
              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <label for="phone">
                  <h4>Phone</h4>
                </label>
                <input type="number" class="form-control" name="phone" id="phone" placeholder="phone number"
                  title="phone number ">
              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-6">
                <label for="date_of_birth">
                  <h4>Date Of Birth</h4>
                </label>
                <input type="date" class="form-control" name="dob" id="dob" placeholder="date_of_birth"
                  title="date_of_birth ">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="email">
                  <h4>Email</h4>
                </label>
                <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                  title="email.">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="dependence">
                  <h4>Dependence</h4>
                </label>
                <input type="text" class="form-control" id="dependence" placeholder="dependence" title="dependence">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="next_of_kin">
                  <h4>Next Of Kin</h4>
                </label>
                <input type="text" class="form-control" name="next_of_kin" id="next_of_kin" placeholder="next of kin"
                  title="next_of_kin.">
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-6">
                <label for="academic qualifications">
                  <h4>Academic Qualifications</h4>
                </label>
                <input type="text" class="form-control" name="academic qualifications" id="academic_qualifications"
                  placeholder="academic qualifications" title="academic qualifications.">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="professional qualification">
                  <h4>Professional Qualification</h4>
                </label>
                <input type="text" class="form-control" name="professional qualification"
                  id="professional_qualification" placeholder="professional qualification"
                  title="professional qualification.">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6">
                <label for="skills">
                  <h4>Skills</h4>
                </label>
                <input type="text" class="form-control" name="skills" id="skills" placeholder="skills" title="skills.">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-md btn-success mr-2" type="submit"><i class="fas fa-user-edit"></i>Edit
                  Profile</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i>Delete
                  Profile</button>
                <div id="myModal" class="modal fade" id="deleteModal">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="icon-box">
                          <i class="material-icons">&#xE5CD;</i>
                        </div>
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body">
                        <p>Do you really want to delete these your profile? This process cannot be undone.</p>
                      </div>
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col-md-6"><button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button></div>
                          <div class="col-md-6"><button type="button" class="btn btn-danger">Delete</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <hr>

        </div>
        <!--/tab-pane-->
        
    </div>
    <!--/tab-content-->

  </div>
  <!--/col-9-->
</div>
<!--/row-->
