<app-header></app-header>
<div class="text-center">
  <h3>{{pageName}}</h3><br>
</div>


    <mat-paginator #paginator [label]='person' [length]="length" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageEvent($event)" [hidePageSize]="hidePageSize"
      [showFirstLastButtons]="showFirstLastButtons" class="mat-paginator-container">
    </mat-paginator>


    <div class="d-flex justify-content-center form_container">
      <form [formGroup]="myForm">
        <p>
          <mat-form-field [hidden]="formData[0].display == true" class="full-width">
            <input matInput #dataValue0 placeholder="Last Name" formControlName="dataValue0" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field [hidden]="formData[1].display == true">
            <input matInput placeholder="First Name" formControlName="dataValue1" required>
          </mat-form-field>
          <p>
            <mat-form-field [hidden]="formData[2].display == true">
              <input matInput placeholder="Address 1" formControlName="dataValue2">
            </mat-form-field>
            <p>
              <mat-form-field [hidden]="formData[3].display == true">
                <input matInput placeholder="Address 2" formControlName="dataValue3">
              </mat-form-field>
              <p>
                <mat-form-field [hidden]="formData[4].display == true">

                  <input matInput placeholder="City" formControlName="dataValue4" required>
                </mat-form-field>
                <p>
                  <mat-form-field [hidden]="formData[5].display == true">

                    <input matInput placeholder="Province" formControlName="dataValue5">
                  </mat-form-field>
                  <p>
                    <mat-form-field [hidden]="formData[6].display == true">
                      <input matInput placeholder="Postal code" formControlName="dataValue6">
                    </mat-form-field>
                    <p>
                      <mat-form-field [hidden]="formData[7].display == true">
                        <input matInput placeholder="Phone cell" formControlName="dataValue7" required>
                      </mat-form-field>
                      <p>
                        <mat-form-field class="full-width" [hidden]="formData[8].display == true">
                          <input matInput placeholder="Phone home" formControlName="dataValue8">
                        </mat-form-field>
                        <p>
                          <mat-form-field [hidden]="formData[9].display == true">
                            <input matInput placeholder="Direction" formControlName="dataValue9">
                          </mat-form-field>
                          <p>
                            <mat-form-field [hidden]="formData[10].display == true">
                              <input matInput placeholder="Country" formControlName="dataValue10">
                            </mat-form-field>
                            <div class="submit-style">
                              <button mat-raised-button color="primary" [disabled]="!isLastPage"
                                (click)="submitExecuted()">
                                Submit
                              </button>
                            </div>
      </form>
    </div>
    <!-- 
use <div  *ngIf="isLastPage" class="submit-style"> 
if you want to hide button
-->

