h3,
h5, h4, mat-card-title, .appdate {
  color: #4159B5;
  margin-bottom: 5px;
}

img {
  width: 100vh;
}

mat-grid-tile img {
  /* border-radius: 50%; */
  height: 50px;
  width: 50px;
}

.col-md-3 {
  margin-right: 20px;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.form_container {
  padding-bottom: 10px;
  margin-top: 20px;
}