<app-header></app-header>
<div mnFullpage>
  <div class="section welcome-section fp-section fp-table" >
    <div class="fp-tableCell">
      <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let image of mySlideImages;let i = index">
          <div style="max-width: 200vh; max-height: 100vh" class="img-wrapper">
            <img src={{image.image}} />
            <div class="links">
              <button class="submit-btn" color="primary" mat-raised-button type="button" (click)="navigateJobs()">Find A
                Job</button>
              <button class="submit-btn" color="primary" style="margin-left:140px;" mat-raised-button type="submit"
                (click)="navigateCreateCompany()">Post A Job</button>
            </div>
            <div class="centered">
              <h5>{{image.header}}</h5><br>
              <h3>{{image.text}}</h3>
            </div>

          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table" data-anchor="thirdsection">
    <div class="fp-tableCell">
    <div class="slide">
      <div class="d-flex justify-content-center" style="margin-bottom: 0;">
        <h4>Our Services</h4>
      </div>
      <mat-grid-list cols="2" rowHeight="2:1" rowHeight="250px" [gutterSize]="'10px'">
        <mat-grid-tile mat-elevation-z8>
          <mat-card class="example-card" style="text-align: center; width: 70%">
            <img src="assets/logos/briefcase-512.png" class="mr-2 grid-image" alt="Angular Carousel 2" matTooltip="Use the keyboard arrow keys to read more ">
            <h5 matTooltip="Use the keyboard arrow keys to read more ">Talent Pool</h5>
            <mat-card-header>
              <mat-card-title>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="d-inline">In situations where multiple new jobs are created and recruited for the first time, or the nature of
                a
                job has substantially changed, a job...</p><mat-icon class="d-inline icon-display" matTooltip="Use the keyboard arrow keys to read more ">info</mat-icon>
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" style="text-align: center;; width: 70%">
            <img src="assets/logos/calendar-icon-black_318-9776.jpg" class="" alt="Angular Carousel 2" matTooltip="Use the keyboard arrow keys to read more ">
            <h5 matTooltip="Use the keyboard arrow keys to read more ">Temporary Staffing</h5>
            <mat-card-header>
              <mat-card-title>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="d-inline" >The use of temporary HR employees on an interim basis has increased dramatically in recent years. By
                filling
                temporary needs of corporations and...</p><mat-icon class="d-inline icon-display" matTooltip="Use the keyboard arrow keys to read more ">info</mat-icon>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" style="text-align: center;width: 70%; ">
            <img src="assets/logos/finding-people.jpg" class="mr-2 grid-image" alt="Angular Carousel 2" matTooltip="Use the keyboard arrow keys to read more ">
            <h5 matTooltip="Use the keyboard arrow keys to read more ">Sourcing</h5>
            <mat-card-header>
              <mat-card-title>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="d-inline" >Sourcing is the use of one or more strategies to attract or identify candidates to fill job
                vacancies. It may involve internal and/or external...</p><mat-icon class="d-inline icon-display" matTooltip="Use the keyboard arrow keys to read more ">info</mat-icon>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card" style="text-align: center;width: 70%;">
            <img src="assets/logos/people.png" class="mr-2 grid-image" alt="Angular Carousel 2" matTooltip="Use the keyboard arrow keys to read more ">
            <h5 matTooltip="Use the keyboard arrow keys to read more ">Core HR</h5>
            <mat-card-header>
              <mat-card-title>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="d-inline">Internal recruitment refers to the process of a candidate being selected from the existing workforce
                to take up a new job in the same...</p> <mat-icon class="d-inline icon-display" matTooltip="Use the keyboard arrow keys to read more ">info</mat-icon>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="d-flex justify-content-center"></div>
    </div>
      <div class="slide">
        <mat-card class="example-card" style="text-align: center;width: 70%;">
          <img src="assets/logos/people.png" class="mr-2 grid-image" alt="Angular Carousel 2">
          <h5>Core HR</h5>
          <mat-card-header>
            <mat-card-title>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Internal recruitment refers to the process of a candidate being selected from the existing workforce
              to take up a new job in the same...</p>
          </mat-card-content>
          <mat-card-actions>
            
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="slide">Slide 2.2</div>
      <div class="slide">Slide 2.3</div>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      
    </div>
  </div>
</div>
