<app-header></app-header>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h3>Fill in the details of Your Company</h3>
    </div>
  </div>
  <div class="d-flex justify-content-center form_container mb-2">
    <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)"
      [loader]="isLoading ">

      <mat-form-field class="full-width">
        <input matInput maxlength="25" placeholder="Companyname" formControlName="companyname" required>
        <mat-error *ngFor="let validation of account_validation_messages.companyname">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('companyname').hasError(validation.type) && (accountDetailsForm.get('companyname').dirty || accountDetailsForm.get('companyname').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngFor="let validation of account_validation_messages.email">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Physical Address" formControlName="physicaladdress" required>
        <mat-error *ngFor="let validation of account_validation_messages.physicaladdress">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('physicaladdress').hasError(validation.type) && (accountDetailsForm.get('physicaladdress').dirty || accountDetailsForm.get('physicaladdress').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Postal Address" formControlName="postaladdress" required>
        <mat-error *ngFor="let validation of account_validation_messages.postaladdress">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('postaladdress').hasError(validation.type) && (accountDetailsForm.get('postaladdress').dirty || accountDetailsForm.get('postaladdress').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Website" formControlName="website" required>
        <mat-error *ngFor="let validation of account_validation_messages.website">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('website').hasError(validation.type) && (accountDetailsForm.get('website').dirty || accountDetailsForm.get('website').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Phone Number" formControlName="phonenumber" required>
        <mat-error *ngFor="let validation of account_validation_messages.phonenumber">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('phonenumber').hasError(validation.type) && (accountDetailsForm.get('phonenumber').dirty || accountDetailsForm.get('phonenumber').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      
      <mat-form-field class="full-width">
        <mat-label>Industry</mat-label>
        <mat-select formControlName="industry" name="industry" matInput placeholder="Industry" required>
          <mat-option *ngFor="let industry of inds" [value]="industry.value" >
            {{industry.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error class="error-message" *ngIf="accountDetailsForm.controls['industry'].hasError('required')">Industry is required</mat-error> 
      </mat-form-field> 
      
      <mat-form-field class="full-width">
        <mat-label>Number of Employees</mat-label>
        <mat-select formControlName="employees" name="employees" matInput placeholder="Number of Employees" required>
          <mat-option *ngFor="let employee of employees" [value]="employee.value">
            {{employee.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error class="error-message"
            *ngIf="accountDetailsForm.controls['employees'].hasError('required')">
            Number of Employees is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Contact Person Name" formControlName="contactPersonName" required>
        <mat-error *ngFor="let validation of account_validation_messages.contactPersonName">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('contactPersonName').hasError(validation.type) && (accountDetailsForm.get('contactPersonName').dirty || accountDetailsForm.get('contactPersonName').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Contact Person Title" formControlName="contactPersonTitle" required>
        <mat-error *ngFor="let validation of account_validation_messages.contactPersonTitle">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('contactPersonTitle').hasError(validation.type) && (accountDetailsForm.get('contactPersonTitle').dirty || accountDetailsForm.get('contactPersonTitle').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Contact Person Email" formControlName="contactPersonEmail" required>
        <mat-error *ngFor="let validation of account_validation_messages.contactPersonEmail">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('contactPersonEmail').hasError(validation.type) && (accountDetailsForm.get('contactPersonEmail').dirty || accountDetailsForm.get('contactPersonTitle').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Contact Person Phone Number"
          formControlName="contactPersonPhoneNumber" required>
        <mat-error *ngFor="let validation of account_validation_messages.contactPersonPhoneNumber">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('contactPersonPhoneNumber').hasError(validation.type) && (accountDetailsForm.get('contactPersonPhoneNumber').dirty || accountDetailsForm.get('contactPersonPhoneNumber').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <div class="mt-2">
        <div class="d-flex justify-content-center links">
          <button class="submit-btn" color="primary" mat-raised-button type="submit"
            [disabled]="!accountDetailsForm.valid">
            Register
          </button> </div>
      </div>

    </form>
  </div>
</div>
<!--/row-->
