<app-header></app-header>
<div>
  <mat-toolbar color="primary" class="position-fixed">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span> Profile</span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button (click)="tabToggle(1)">Personal Bio-Data</a>
      <a mat-button (click)="tabToggle(2)">Work Experience</a>
      <a mat-button (click)="tabToggle(3)">Academic Qualifications</a>
      <a mat-button (click)="tabToggle(4)">Professional Qualifications</a>
      <a mat-button (click)="tabToggle(5)">Special Skills & Talents</a>
      <a mat-button (click)="tabToggle(6)">Membership</a>
      <a mat-button (click)="tabToggle(7)">Referees</a>
    </div>

  </mat-toolbar>
  <mat-sidenav color="primary" #sidenav mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <span> Profile</span>
      <a mat-button style="margin-top:12px;" (click)="tabToggle(1)">Personal Bio-Data</a>
      <a mat-button (click)="tabToggle(2)">Work Experience</a>
      <a mat-button (click)="tabToggle(3)">Academic Qualifications</a>
      <a mat-button (click)="tabToggle(4)">Professional Qualifications</a>
      <a mat-button (click)="tabToggle(5)">Special Skills & Talents</a>
      <a mat-button (click)="tabToggle(6)">Membership</a>
      <a mat-button (click)="tabToggle(7)">Referees</a>
    </div>
  </mat-sidenav>

</div>



<div class="d-flex justify-content-center form_container">
  <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)"
    [loader]="isLoading">

    <!--Personal Bio-Data-->
    
    <div *ngIf="showTab == 1">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="First Name" matTooltip="Enter your First Name" formControlName="firstname" required>
        <mat-error *ngFor="let validation of account_validation_messages.firstname">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('firstname').hasError(validation.type) && (accountDetailsForm.get('firstname').dirty || accountDetailsForm.get('firstname').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Last Name" matTooltip="Enter your Last Name" #lastname formControlName="lastname" required>
        <mat-error *ngFor="let validation of account_validation_messages.lastname">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('lastname').hasError(validation.type) && (accountDetailsForm.get('lastname').dirty || accountDetailsForm.get('lastname').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" name="gender" matTooltip="Pick your Gender" matInput placeholder="Gender" required>
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error class="error-message" *ngIf="accountDetailsForm.controls['gender'].hasError('required')">Gender is
          required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" formControlName="dateofbirth" matTooltip="Select your date of birth" name="dateofbirth" matInput
          placeholder="Date Of Birth" required>
        <mat-datepicker-toggle matSuffix [for]="picker">
          
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error class="error-message" *ngIf="accountDetailsForm.controls['dateofbirth'].hasError('required')">
          Date of birth is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="National Identification" matTooltip="Enter your National Identification number" formControlName="IDnumber" required>
        <mat-error *ngFor="let validation of account_validation_messages.IDnumber">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('IDnumber').hasError(validation.type) && (accountDetailsForm.get('IDnumber').dirty || accountDetailsForm.get('IDnumber').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Phone Number" formControlName="phonenumber" matTooltip="Enter your Phone number" required>
        <mat-error *ngFor="let validation of account_validation_messages.phonenumber">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('phonenumber').hasError(validation.type) && (accountDetailsForm.get('phonenumber').dirty || accountDetailsForm.get('phonenumber').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" formControlName="email" matTooltip="Enter your Email" required>
        <mat-error *ngFor="let validation of account_validation_messages.email">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Address" formControlName="address" matTooltip="Enter your Address" required>
        <mat-error *ngFor="let validation of account_validation_messages.address">
          <mat-error class="error-message"
            *ngIf="accountDetailsForm.get('address').hasError(validation.type) && (accountDetailsForm.get('address').dirty || accountDetailsForm.get('address').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>


    <!--Work Experience-->
    <div *ngIf="showTab == 2">
      <div formGroupName="workexperience">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Company Name" formControlName="wCompanyname" matTooltip="Enter the name of the company" required>
          <mat-error *ngFor="let validation of account_validation_messages.wCompanyname">
            <mat-error class="error-message"
              *ngIf="accountDetailsForm.get('workexperience').get('wCompanyname').hasError(validation.type) && (accountDetailsForm.get('workexperience').get('wCompanyname').dirty || accountDetailsForm.get('workexperience').get('wCompanyname').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker3" formControlName="Pstartdate" matTooltip="Select the starting date" name="Pstartdate" matInput
                  placeholder="Choose the Starting Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker3">
                  
                </mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="accountDetailsForm.get('workexperience').controls['Pstartdate'].hasError('required')">Please choose a date.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker4" formControlName="Penddate" matTooltip="Select the ending date"  name="Penddate" matInput
                  placeholder="Choose the Ending Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker4">
                </mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
                <mat-error *ngIf="accountDetailsForm.get('workexperience').controls['Penddate'].hasError('required')">Please choose a date.</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Duties and Responsibilties" formControlName="duties"
              matTooltip="Enter your Duties and Responsibilties separating each with a comma" required></textarea>
            <mat-error *ngFor="let validation of account_validation_messages.duties">
              <mat-error class="error-message"
                *ngIf="accountDetailsForm.get('workexperience').get('duties').hasError(validation.type) && (accountDetailsForm.get('workexperience').get('duties').dirty || accountDetailsForm.get('workexperience').get('duties').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <!--Work Experience form 2-->
        <div *ngIf="showWex == 2 || showWex == 3">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Company Name" matTooltip="Enter the name of the company" formControlName="wCompanyname1">
            <mat-error *ngFor="let validation of account_validation_messages.wCompanyname">
              <mat-error class="error-message"
                *ngIf="accountDetailsForm.get('workexperience').get('wCompanyname').hasError(validation.type) && (accountDetailsForm.get('workexperience').get('wCompanyname').dirty || accountDetailsForm.get('workexperience').get('wCompanyname').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker3" formControlName="Pstartdate1" matTooltip="Select the starting date" name="Pstartdate1" matInput
                    placeholder="Choose the Starting Date">
                  <mat-datepicker-toggle matSuffix [for]="picker3">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker4" formControlName="Penddate1" matTooltip="Select the ending date" name="Penddate1" matInput
                    placeholder="Choose the Ending Date">
                  <mat-datepicker-toggle matSuffix [for]="picker4">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Duties and Responsibilties" formControlName="duties1"
                matTooltip="Enter your Duties and Responsibilties separating each with a comma"></textarea>
              <mat-error *ngFor="let validation of account_validation_messages.duties">
                <mat-error class="error-message"
                  *ngIf="accountDetailsForm.get('workexperience').get('duties').hasError(validation.type) && (accountDetailsForm.get('workexperience').get('duties').dirty || accountDetailsForm.get('workexperience').get('duties').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </p>
        </div>

        <!--Work Experience form 3-->
        <div *ngIf=" showWex == 3">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Company Name" matTooltip="Enter the name of the company" formControlName="wCompanyname2">
            <mat-error *ngFor="let validation of account_validation_messages.wCompanyname">
              <mat-error class="error-message"
                *ngIf="accountDetailsForm.get('workexperience').get('wCompanyname').hasError(validation.type) && (accountDetailsForm.get('workexperience').get('wCompanyname').dirty || accountDetailsForm.get('workexperience').get('wCompanyname').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker3" formControlName="Pstartdate2" matTooltip="Select the starting date" name="Pstartdate2" matInput
                    placeholder="Choose the Starting Date">
                  <mat-datepicker-toggle matSuffix [for]="picker3">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker4" formControlName="Penddate2" matTooltip="Select the ending date" name="Penddate2" matInput
                    placeholder="Choose the Ending Date">
                  <mat-datepicker-toggle matSuffix [for]="picker4">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Duties and Responsibilties" formControlName="duties2"
                matTooltip="Enter your Duties and Responsibilties separating each with a comma"></textarea>
              <mat-error *ngFor="let validation of account_validation_messages.duties">
                <mat-error class="error-message"
                  *ngIf="accountDetailsForm.get('workexperience').get('duties').hasError(validation.type) && (accountDetailsForm.get('workexperience').get('duties').dirty || accountDetailsForm.get('workexperience').get('duties').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </p>
        </div>
      </div>
      <div matTooltip="You can only add three Work Experiences" [matTooltipDisabled]="showWex < 3">
        <button mat-mini-fab color="primary" aria-label="Add referees" (click)="showWorkEx()" *ngIf="showWex < 3">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!--Academic Qualifications-->
    <div *ngIf="showTab == 3">
      <div formGroupName="academicQualification">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Institution Name" matTooltip="Enter the name of the institution" formControlName="institutionname" required>
        </mat-form-field>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker1" formControlName="Astartdate" matTooltip="Select the starting date" name="Astartdate" matInput
                  placeholder="Choose the Starting Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker1">
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="accountDetailsForm.get('academicQualification').controls['Astartdate'].hasError('required')">Please choose a date.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker2" formControlName="Aenddate" matTooltip="Select the ending date" name="Aenddate" matInput
                  placeholder="Choose the Ending Date" required>
                <mat-datepicker-toggle matSuffix [for]="picker2">
                  
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="accountDetailsForm.get('academicQualification').controls['Aenddate'].hasError('required')">Please choose a date.</mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Qualification" formControlName="merit" matTooltip="Enter your qualifications" required></textarea>
            <mat-error *ngFor="let validation of account_validation_messages.merit">
              <mat-error class="error-message"
                *ngIf="accountDetailsForm.get('academicQualification').get('merit').hasError(validation.type) && (accountDetailsForm.get('academicQualification').get('merit').dirty || accountDetailsForm.get('academicQualification').get('merit').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <!--Academic Qualification form 2-->
        <div *ngIf="showAca == 2 || showAca == 3">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Institution Name" matTooltip="Enter the name of the institution" formControlName="institutionname1">
          </mat-form-field>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker1" formControlName="Astartdate1" matTooltip="Select the starting date" name="Astartdate1" matInput
                    placeholder="Choose the Starting Date">
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker2" formControlName="Aenddate1" matTooltip="Select the ending date" name="Aenddate1" matInput
                    placeholder="Choose the Ending Date">
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <p>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Qualification" formControlName="merit1" matTooltip="Enter your qualifications"></textarea>
              <mat-error *ngFor="let validation of account_validation_messages.merit">
                <mat-error class="error-message"
                  *ngIf="accountDetailsForm.get('academicQualification').get('merit').hasError(validation.type) && (accountDetailsForm.get('academicQualification').get('merit').dirty || accountDetailsForm.get('academicQualification').get('merit').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </p>
        </div>
        <!--Academic Qualification form 3-->
        <div *ngIf="showAca == 3">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Institution Name" matTooltip="Enter the name of the institution" formControlName="institutionname2">
          </mat-form-field>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker1" formControlName="Astartdate2" matTooltip="Select the starting date" name="Astartdate2" matInput
                    placeholder="Choose the Starting Date">
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker2" formControlName="Aenddate2" matTooltip="Select the ending date" name="Aenddate2" matInput
                    placeholder="Choose the Ending Date">
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                    
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Qualification" formControlName="merit2" matTooltip="Enter your qualifications"></textarea>
              <mat-error *ngFor="let validation of account_validation_messages.merit">
                <mat-error class="error-message"
                  *ngIf="accountDetailsForm.get('academicQualification').get('merit').hasError(validation.type) && (accountDetailsForm.get('academicQualification').get('merit').dirty || accountDetailsForm.get('academicQualification').get('merit').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </p>
        </div>
      </div>
      <div matTooltip="You can only add three Academic Qualifications" [matTooltipDisabled]="showAca < 3">
        <button mat-mini-fab aria-label="Add referees" color="primary" (click)="showAcademia()" *ngIf="showAca < 3">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!--Professional Qualification-->
    <div *ngIf="showTab == 4">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Professional Qualification"
          matTooltip="Enter your Professional Qualifications separating each with a comma"
          formControlName="pqualification" ></textarea>
      </mat-form-field>
    </div>

    <!--Special Skills and Talents-->
    <div *ngIf="showTab == 5">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Special Skills And Talents"
          matTooltip="Enter your skills and talents separating each with a comma" formControlName="skills"></textarea>
      </mat-form-field>
    </div>

    <!--Membership-->
    <div *ngIf="showTab == 6">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Membership" formControlName="membership"
          matTooltip="Enter your memberships' details separating each with a comma"></textarea>
      </mat-form-field>
    </div>
    <!--Referees-->

    <div *ngIf="showTab == 7">
      <div formGroupName="referees" name="refereeForm">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Title" matTooltip="Enter the title of the referee" formControlName="refereetitle">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Company" formControlName="refereeComp"
              matTooltip="Enter the title of the referee works at">
          </mat-form-field>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input type="text" matInput placeholder="First name" formControlName="refereefname" matTooltip="Enter the first name of the referee">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Last Name" formControlName="refereelname" matTooltip="Enter the last name of the referee">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="refereeAddress" matTooltip="Enter the Address of the referee"></textarea>
          </mat-form-field>
        </p>

        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input type="email" matInput placeholder="Referee Email" formControlName="refereeEmail" matTooltip="Enter the referee's email">
                <mat-error *ngFor="let validation of account_validation_messages.refereeEmail">
                  <mat-error class="error-message"
                    *ngIf="accountDetailsForm.get('referees').get('refereeEmail').hasError(validation.type) && (accountDetailsForm.get('referees').get('refereeEmail').dirty || accountDetailsForm.get('referees').get('refereeEmail').touched)">
                    {{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Referee PhoneNumber" formControlName="refereePhonenumber" matTooltip="Enter the referee's phone number">
                <mat-error *ngFor="let validation of account_validation_messages.refereePhonenumber">
                  <mat-error class="error-message"
                    *ngIf="accountDetailsForm.get('referees').get('refereePhonenumber').hasError(validation.type) && (accountDetailsForm.get('referees').get('refereePhonenumber').dirty || accountDetailsForm.get('referees').get('refereePhonenumber').touched)">
                    {{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div *ngIf="showRef == 2 || showRef == 3">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Title" formControlName="refereetitle1" matTooltip="Enter the title of the referee">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Company" formControlName="refereeComp1"
              matTooltip="Enter the title of the referee works at" required>
          </mat-form-field>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input type="text" matInput placeholder="First name" formControlName="refereefname1" matTooltip="Enter the first name of the referee">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input type="text" matInput placeholder="Last Name" formControlName="refereelname1" matTooltip="Enter the last name of the referee">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address" formControlName="refereeAddress1" matTooltip="Enter the Address of the referee"></textarea>
            </mat-form-field>
          </p>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input type="email" matInput placeholder="Referee Email" formControlName="refereeEmail1" matTooltip="Enter the referee's email">
                  <mat-error *ngFor="let validation of account_validation_messages.refereeEmail1">
                    <mat-error class="error-message"
                      *ngIf="accountDetailsForm.get('referees').get('refereeEmail1').hasError(validation.type) && (accountDetailsForm.get('referees').get('refereeEmail1').dirty || accountDetailsForm.get('referees').get('refereeEmail1').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Referee PhoneNumber" formControlName="refereePhonenumber1" matTooltip="Enter the referee's phone number">
                  <mat-error *ngFor="let validation of account_validation_messages.refereePhonenumber1">
                    <mat-error class="error-message"
                      *ngIf="accountDetailsForm.get('referees').get('refereePhonenumber1').hasError(validation.type) && (accountDetailsForm.get('referees').get('refereePhonenumber1').dirty || accountDetailsForm.get('referees').get('refereePhonenumber1').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="showRef == 3">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Title" formControlName="refereetitle2" matTooltip="Enter the title of the referee">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Company" formControlName="refereeComp2"
              matTooltip="Enter the title of the referee works at">
          </mat-form-field>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input type="text" matInput placeholder="First name" formControlName="refereefname2" matTooltip="Enter the first name of the referee">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input type="text" matInput placeholder="Last Name" formControlName="refereelname2" matTooltip="Enter the last name of the referee">
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address" formControlName="refereeAddress2" matTooltip="Enter the Address of the referee"></textarea>
            </mat-form-field>
          </p>

          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width">
                  <input type="email" matInput placeholder="Referee Email" formControlName="refereeEmail2" matTooltip="Enter the referee's email">
                  <mat-error *ngFor="let validation of account_validation_messages.refereeEmail2">
                    <mat-error class="error-message"
                      *ngIf="accountDetailsForm.get('referees').get('refereeEmail2').hasError(validation.type) && (accountDetailsForm.get('referees').get('refereeEmail2').dirty || accountDetailsForm.get('referees').get('refereeEmail2').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Referee PhoneNumber" formControlName="refereePhonenumber2" matTooltip="Enter the referee's phone number">
                  <mat-error *ngFor="let validation of account_validation_messages.refereePhonenumber2">
                    <mat-error class="error-message"
                      *ngIf="accountDetailsForm.get('referees').get('refereePhonenumber2').hasError(validation.type) && (accountDetailsForm.get('referees').get('refereePhonenumber2').dirty || accountDetailsForm.get('referees').get('refereePhonenumber2').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div matTooltip="You can only add three referees" [matTooltipDisabled]="showRef < 3">
        <button mat-mini-fab aria-label="Add referees" color="primary" (click)="showReferee()" *ngIf="showRef < 3">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!--Submit-->

    <div class="mt-2">
      <div class="d-flex justify-content-center links">
        <div matTooltip="Fill in all the *required details before submitting"
          [matTooltipDisabled]="accountDetailsForm.valid">
          <button class="submit-btn" color="primary" mat-raised-button type="submit"
            [disabled]="!accountDetailsForm.valid">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- 
use <div  *ngIf="isLastPage" class="submit-style"> 
if you want to hide button
-->
